.header-container{
    background-color: rgb(6, 6, 63);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 140px;
    padding-right: 140px;
}
.header-container a{
    text-decoration: none;
    padding-left: 20px;
    color: aliceblue;
}
.header-container a:hover{
    color: orange;
}